*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #f5f6f7;
}

#wrap{
    width: 550px;
    margin: 10px auto;
    border: none
    padding: 10px;
}

header > h1 {
    width: 550px;
    height: 55px;
    margin: 50px auto;
}

header > h1 > a > img{
    display: block;
    width: 320px;
    height: 56px;
    margin: 0 auto;
}

h3{
    display: block;
    width: 460px;
    height: 16px;
    margin-bottom: 100px;
}


/* 아이디 */
label{
    font-size: 18px;
    padding-left:5px;
    line-height: 40px;
}

/* 비밀번호 - 이름 사이 벌려놓기 */
.join_group1{
    padding-bottom: 20px;
}
/* 이메일 - 전화 사이 벌려놓기 */
.join_group2{
    padding-bottom: 20px;
}

/* 전화 - 가입하기 사이 벌려놓기 */
.join_phone{
    padding-bottom: 20px;
}

.birth_size > input{
    width: 172px;
    height: 60px;
    margin-right: 15px;
}
.birth_size > select{
    width: 172px;
    height: 64px;
    margin-right: 15px;
}
.birth_size{
    display: flex;
    float: left;
}

.join_gender > h3 > select{
    width: 555px;
    height: 60px;
}

.join_phone > h3 > select{
    width: 555px;
    height: 60px;
}

.num1_num2{
    display: flex;
}

.num1 > input[type=text]{
    width: 400px;
    height: 60px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 13px;
}
.num2 > input[type=text]{
    width: 135px;
    height: 62px;
    text-align: center;
    margin-top: 15px;
    float: right;
    background-color: #03c75a;
    font-size: 18px;
    border: 1px solid #03c75a;
    color: white;
}

.back_color{
    background-color: #f5f6f7;
}

.join_id > h3 > input::placeholder{
    float: right;
}

select{
    padding: 20px;
}

.serch > input[type=submit]{
    margin-top: 180px;
    overflow: hidden;
    width: 550px;
    height: 65px;
    font-size: 20px;
    color: white;
    background-color: #03c75a;
    border: 1px solid #03c75a;
}

footer > ul{
    list-style: none;
    margin: 0 auto;
    text-align: center;
}
footer > ul > li{
    margin-top: 25px;
    display: inline-block;
}

footer > ul > li > a{
    font-size: 13px;

    color: black;
    text-decoration: none;
}

footer > ul > li > a:hover{
    text-decoration: underline;
}

.footer_a2{
    font-weight: bold;
}

.footer2{
    margin-top: -20px;
}

/* form사이즈 공통클래스 */
.input_size{
    width: 550px;
    height: 60px;
}

input::placeholder{
    font-size: 17px;
    padding: 20px;
}
input{
    border: 1px solid #ddd;
}
select{
    border: 1px solid #ddd;
}
