body{
    background-color: #f5f6f7;
}

#header{
    position: relative;
    padding: 2px 0 35px;
}

.logo{
    width: 320px;
    height: 65px;
    background-image: url(../image/naver.png);
    background-position: 50% 0;
}
.logo{
    display: block;
    overflow: hidden;
    margin: 0 auto;
    font-size: 15px;
    color: transparent;
}

.blind{
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}

.lang{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 50px;
    font-size: 12px;
    font-weight: 400;
    min-width: 82px;
    height: 24px;
    padding: 3px 10px 3px 6px;
    color: #333;
    background-position: 63px 50%;
}

.int{
    margin-bottom: 6px;
    padding: 8px 35px 9px 11px;
    line-height: 16px;
    width: 100%;
    font-size: 14px;
    line-height: 16px;
    position: relative;
    z-index: 9;
    width: 100%;
    height: 16px;
    padding: 8px 0 6px;
    color: #000;
    border: none;
    background: #fff;
    -webkit-appearance: none;
}

.input_box{
    display: block;
    overflow: hidden;
}

#id_area{
    margin-bottom: 6px;
}