*{
    margin: 0;
    padding: 0;
}

#wrap{
    width: 500px;
    border: 1px solid #ddd;
    margin: 0px auto;
}

header > h1{
    text-align: center;
}

#join_form{
    padding: 20px;
}

form td{
    display: block;
}