*{
    /* 기본속성죽이기 */
    /* 목록 점 죽이기 */
    list-style: none;
    /* 밑줄 죽이기 */
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body{
    padding-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(248, 243, 223);
}

#wrap{
    width: 900px;
    border: 1px solid rgb(201, 186, 174);
    margin: 10px auto;
}

header{
    width: 898px;
    height: 80px;
    margin: 10px;
    padding: 20px;
    line-height: 80px;
    font-size: 110%;
}

 /* 메뉴 오른쪽으로 정렬 */
nav{
    height: 35px;
    overflow: hidden;
}
nav > ul{
    float:left;
    overflow: hidden;
}

nav > ul > li{
    float: left;
    padding-left: 10px;
    height: 35px;
    line-height: 25px;
}


/* 블로그창 가운데정렬 */
.div_algin_center{
    margin: 0px auto;
}

/* 검색창 오른쪽으로보내기 */
.search_area{
    float: right;
}
/* 메뉴 거리두기 */
.nav > li{
    margin: 5px;
}


/* 내용영역 */
section{
    width: 698px;
    height: auto;
    float: left;
}

/* 서브영역 */
aside{
    float: left;
    width: 198px;
    height: 600px;
}

#wrap{
    width: 900px;
    overflow: hidden;
}

footer{
    width: 898px;
    height: 50px;
    line-height: 50px;
}
/* 내용 */
.content1{
    margin: 10px 20px 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
}
.content2{
    margin: 20px 20px 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
}
.content3{
    margin: 20px 20px 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
}
.content4{
    margin: 20px 20px 30px;
}
.a_font > a{
    color: blue;
}
/* 검색창 */
.search_area > form{
    margin-top: 5px;
    display: flex;
}
.search_area > form > input.serch1{
    width: 100px;
    height: 20px;
    border: 1px solid #aaa;
    border-radius: 10px 0 0 10px;
}
.search_area > form > input.serch2{
    width: 50px;
    height: 22px;
    border-radius: 0 10px 10px 0;
}
/* 카테고리 */
.side1{
    margin: 10px;
}
/* 최근글 */
.side2{
    margin: 20px 10px;
}

a{
    color: black;
    font-size: 120%;
}
a:hover{
    color: rgb(207, 88, 88);
    text-decoration: underline;
}