@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&family=Jua&family=Nanum+Gothic:wght@800&display=swap');
*{
    margin: 0;
    padding: 0;
}

html, body, div, h1, h2, h3, h4, h5, h6,
table, input, header, nav, aside, section, article,
p{
    font-size: 16px;
    font-family: '돋움체',Arial, Helvetica, sans-serif;
}

body{
    background-color: cornsilk;
}

/* 전체 요소를 감싸는 블록 */
#main_wrap{
    width: 776px; /* -10 -10 -1 -1 -2 */
    
    /* 블로그 박스 레이아웃 */
    border: 1px solid #aaa;

    /* 블로그 박스 in 색상 */
    background-color: #fff;

    /* 모서리 둥글게 */
    border-radius: 5px;

    /* 블로그 박스 화면 가운데 정렬 */
    margin: 10px auto;

    /* 블로그 박스 그림자 */
    box-shadow: 2px 3px 3px #ddd;

    /* 안에 있는 요소 벽에서 떨어트리기 */
    padding: 10px;
}



/* header영역 */
header{
    /* header영역에 있는 제목 떨어트리기 */
   padding: 20px; 
}
/* header안에 있는 h1선택 */
header > h1{
    font-size: 2.0em;    
    font-weight: 400px;
}


/* navigation 영역 */
nav{
    /* 선안에 높이 */
    height: 35px;

    /* nav 안에 선만들기 */
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    /* 아래내용요소들이 침입하지못하게 overflow: hidden */
    overflow: hidden;
}

/* nav메뉴 안에 ul 선택 왼쪽 정렬 */
nav > ul{
    float: left;

    overflow: hidden;
    /* ul앞에 점들 없애기 */
    list-style: none;
}

/* nav안에 ul안에 li만선택 */
nav > ul > li{
    /* 옆으로 쭉 펼쳐준다. */
    float: left;
    /* 높이 가운데 정렬 */
    height: 35px;
    line-height: 35px;
}

nav > ul > li > a{
    /* 클릭할수 있는 영역이 넓어짐 */
    display: block;
    /* 메뉴 떨어트리기 */
    padding: 0 20px;
}

/* nav메뉴 안에 div안에 검색메뉴 오른쪽으로 정렬 */
nav > div{
    float: right;
}

/* nav메뉴 안에 div 안에 input안에 type =text선택 */
nav > div > input[type=text]{
    /* 폭줄이기 */
    width: 100px;
    /* 높이 */
    height: 24px;
    /* 탑간격 떨어트리기 */
    margin-top: 4px;
    /* 모서리 둥글게 */
    border-radius: 11px 0 0 11px;
    padding: 0 5px;
    border: 1px solid #aaa;
}

/* nav메뉴 안에 div 안에 input안에 type =submit선택 */
nav > div > input[type=submit]{
    height: 26px;
    margin-top: 4px;
    margin-left: -9px;
    margin-right: 5px;
    /* 모서리 둥글게 */
    border-radius: 0 13px 13px 0;
    border: 1px solid #aaa;
    padding: 0 15px;
}

/* content 영역 */
/* content 영역 합치기 */
#content_wrap{
    overflow: hidden;

    margin-top: 20px;
}

section{
    /* content section 레이아웃 왼쪽에 */
    float: left;

    /* 세션의 영역을 준다. */
    width: 550px;

    padding: 5px;
}

aside{
    /* content aside 레이아웃 오른쪽에 붙이기 */
    float: right;
    
    /* aside 영역을 준다. */
    width: 170px;
}

aside > h3{
    font-size: 120%;
    margin-top: 20px;
}
aside > ul{
    list-style: none;
}
aside > ul > li{
    padding-left: 10px;
    line-height: 180%;
}

a{
    /* <a href> 파랑색 색상변화 */
    color: #333;
    /* 밑줄삭제 */
    text-decoration: none;
}
/* 마우스 올려낫을때 변화 */
a:hover{
    /* 마우스올리면 핑크 */
    color: pink;
    /* 마우스 올리면 밑줄 */
    text-decoration: underline;
    /* 마우스 올리면 백그라운드 컬러 */
    background-color: #aaa;
}


/* footer 영역 */
footer{
    height: 30px;
    /* 텍스트 글씨 센터로 */
    text-align: center;
    /* 글씨 높이 센터로 */
    line-height: 30px;
}




/* 공통으로 사용할 클래스 */
.font_jua{
    font-family: 'Jua', sans-serif;
}
/* 내용 끝나고 선으로 그어줄때 */
.border_bottom_a{
    border-bottom: 1px solid #aaa;
}
.margin_bottom_20{
    margin-bottom: 20px;
}   
/* 제목 */
.title{
    font-size: 1.5em;
    font-weight: bold;
    margin: 5px 0;
    font-family: 'Gamja Flower', cursive;
}
/* 날짜 */
.date{
    font-weight: 600;
    font-style: italic;
}
/* 이미지 */
.post_img{
    width: 550px;
    height: 400px;
    margin: 10px 5px;
    border: 0;
}
/* 내용 */
.postcontent{
    font-family: 'Nanum Gothic', sans-serif;
    line-height: 180%;
    margin-bottom: 15px;
}